RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d
RewriteRule ^css/(.*).css$     css/$1.css [L,QSA]
RewriteRule ^js/(.*).js$     js/$1.js [L,QSA]
RewriteRule ^fonts/(.*).woff$     fonts/$1.woff [L,QSA]
RewriteRule ^img/(.*).png$     img/$1.png [L,QSA]
RewriteRule ^img/(.*).svg$     img/$1.svg [L,QSA]
RewriteRule ^(.*)$ index.php?$1 [L,QSA]